<div class="w-[90%] h-[90%] mt-[2rem] relative">
    <div class="w-[100%] h-[100vh] bg-[#362417] absolute left-0 top-0 rounded-xl rotate-[-7deg] laptop:h-[70vh] desktop:h-[70vh]">
    </div>
    <div>
        <button type="button" class="p-2 w-[40px] text-[#f1dabf] bg-[#F44336] absolute top-[.9rem] right-[-.2rem] rounded-[90%] font-[500]" (click)="formCancelled()">X</button>
    </div>
    <div class="w-[100%] h-[95vh] laptop:h-[65vh] desktop:h-[65vh] ml-[auto] mr-[auto] mt-[2 rem] bg-[#fffbff] rounded-xl p-4 absolute left-0 top-4">
        <h3 class="text-center text-xl">Create New Menu</h3>
        <form [formGroup] = "menuForm" class="w-[100%] space-y-3 laptop:space-y-0 desktop:space-y-0 laptop:flex desktop:flex">
            <div class="laptop:w-[50%] desktop:w-[50%] p-2">
                <div class="w-[100%] flex flex-col justify-start ">
                    <label for="menuName">Name</label>
                    <input type="text" id="menuName" formControlName="name" class="p-2 border-b-2 border-[#92817a] bg-[transparent]" required/>
                    <div *ngIf="menuForm.get('name')?.errors && menuForm.get('name')?.touched">
                        <div *ngIf="menuForm.get('name')?.hasError('required')" class="font-[400] text-[#F44336] text-sm">Name is required</div>
                    </div> 
                </div>
                <div class="w-[100%] flex flex-col justify-start">
                    <label for="menu">Type</label>
                    <input type="text" id="menuType" formControlName="type" class="p-2 border-b-2 border-[#92817a] bg-[transparent]" required/>
                    <div *ngIf="menuForm.get('type')?.errors && menuForm.get('type')?.touched">
                        <div *ngIf="menuForm.get('type')?.hasError('required')" class="font-[400] text-[#F44336] text-sm">Type is required</div>
                    </div>    
                </div>
                <div class="w-[100%] flex flex-col justify-start">
                    <label for="menuPrice">Price Range</label>
                    <input type="text" id="menuPrice" formControlName="priceRange" class="p-2 border-b-2 border-[#92817a] bg-[transparent]" required/>
                    <div *ngIf="menuForm.get('priceRange')?.errors && menuForm.get('priceRange')?.touched">
                        <div *ngIf="menuForm.get('priceRange')?.hasError('required')" class="font-[400] text-[#F44336] text-sm">Price Range is required</div>
                    </div> 
                </div>
                <div class="w-[100%] flex flex-col justify-start">
                    <label for="menuDescription">Description</label>
                    <textarea type="text" id="menuDescription" formControlName="description" rows="6" class="p-2 border-2 border-[#92817a] bg-[transparent]" required> </textarea>
                    <div *ngIf="menuForm.get('description')?.errors && menuForm.get('description')?.touched">
                        <div *ngIf="menuForm.get('description')?.hasError('required')" class="font-[400] text-[#F44336]text-sm">Description is required</div>
                    </div> 
                </div>
            </div>
            <div class="laptop:w-[50%] desktop:w-[50%] p-2">
                <div class="w-[100%] flex flex-col justify-start">
                    <label for="menuImage">Image</label>
                    <!-- <input type="file" id="dishImage" formControlName="imageURL" class="p-2 bg-[transparent]"/> -->
                    <app-input-image (OnImageSelected)="OnImageSelected($event)"></app-input-image>
                </div>
                <div class="w-[100%] flex flex-col justify-start">
                    <label for="dishCategory">Category</label>
                    <!-- <select formControlName="category" class="p-2 border-b-2 border-[#92817a] bg-[transparent]">
                        <option *ngFor="let category of categories" value="{{category.id}}" >{{category.name}}</option>
                    </select> -->
                    <div *ngIf="menuForm.get('category')?.errors && menuForm.get('category')?.touched">
                        <div *ngIf="menuForm.get('category')?.hasError('required')" class="font-[400] text-[#F44336] text-sm">Category is required</div>
                    </div> 
                </div>
                <!-- <div class="w-[100%] flex flex-col justify-start">
                    <label for="dishMenus">Select the Menu for Dish</label>
                    <app-checkbox-input [checkboxModel]="menus" (selectionChanged)="OnMenuSelected($event)"></app-checkbox-input>
                </div> -->
                <div class="w-[100%] mt-[2rem] flex justify-start space-x-5">
                    <input type="submit" value="Submit" class="w-[50%] p-2 text-base border-2 bg-[#362417] text-[#f1dabf] cursor-pointer transition-colors hover:bg-[transparent] hover:text-[#362417] hover:border-[#362417]" (click)="formSubmitted()"/>
                    <input type="button" value="Cancel" class="w-[50%] p-2 text-base border-2 bg-[#92817a] text-[#f1dabf] cursor-pointer transition-colors hover:text-[#362417] hover:bg-[transparent] hover:border-[#92817a]" (click)="formCancelled()"/>
                </div>
            </div>
        </form>
    </div>
</div>
