<div class="bg-cover back-ground flex">
    <div class="flex flex-col flex-wrap container-def space-y-5 p-2 mt-[8.5rem] ml-[7rem]">
        <h1 class="text-4xl font-medium text-[#fffbff]">Our Restaurant</h1>
        <h4 class="text-base text-[#f1dabf]">Where beautiful aroma of authentic Nepali Cusine meets your taste</h4>
        <div>
            <button class="text-base bg-[#362417] text-[#fffbff] rounded-md p-2 transition-colors hover:bg-[#92817a] mr-3 outline-0 border-0">Order Now</button>
            <button class="text-[#fffbff] text-base transition-colors hover:text-[#92817a]">View Menu</button>
        </div>
    </div>
    
</div>
