<div class="ml-[auto] mr-[auto] w-[80%] flex flex-col">
    <div class="w-[100%] h-[30vh] hero-img bg-[#362417] mt-3 bg-blend-overlay flex justify-center items-center p-4">
        <h2 class="font-[800] text-3xl text-[#fffbff] text-center">Exquisite Dishes</h2>
    </div>
    <div class="mt-[2rem]">
        <ul class="flex justify-around items-center space-x-7 w-[100%]">
           <li *ngFor="let category of categories" class="text-[#04030f] font-[500] text-lg transition-colors ease-out cursor-pointer hover:text-[#fff]">
            <button (click)="categorySelected(category.id)">
                {{category.name}}
            </button> 
           </li>
        </ul>
    </div>
    <div class="grid grid-cols-4 mt-[2rem] gap-[12px]">
        <div *ngFor="let dish of dishes" class="flex flex-col justify-start text-center shadow-xl bg-[#f1dabf] h-[75vh]">
            <img [src]="dish.imageUrl" [alt]="dish.name"  class="w-[100%] h-[320px]"/>
            <div class="h-[35%] p-2 text-[#362417] flex flex-col justify-around">
                <h4 class="font-[500] text-lg">{{dish.name}}</h4>
                <div>{{dish.description}}</div>
                <div class="font-[500]">${{dish.price}}</div>
            </div>
            <div class="p-2 bg-[#362417] h-[auto]">
                <button class="p-2 border-2 border-[#f1dabf] text-[#f1dabf] rounded-md transition-colors ease-out hover:text-[#362417] hover:bg-[#f1dabf]">Add To Cart</button>
            </div>
        </div>
    </div>
</div>