<nav class="flex bg-[#04030f] justify-between items-center h-[65px] pl-4 pr-4">
    <div class="ml-[auto] mr-[auto]">
        <a href=""> <img  class="w-[60px] h-[60px] bg-[transparent]" src="../../../assets/Images/mainlogo.png" alt="logo" /> </a>
        <!-- position for the image -->
    </div>
    <ul class="flex flex-initial w-[70%] justify-start space-x-14">
        <li class="nav-items">
           <a href="" class="">Home</a>
        </li>
        <li class="nav-items">
            <a href="menu" class="">Menu</a>
        </li>
        <li class="nav-items">
            <a  href="dishes" class="">Dishes</a>
        </li>
        <li class="nav-items">
            <a  href="dishes" class="">About Us</a>
        </li>
        <li class="nav-items">
            <a  href="dishes" class="">Contact</a>
        </li>
    </ul>
</nav>
